# Server Configuration
PORT=5001

# Database Configuration
# Replace with your local mongodb URI (e.g. mongodb://127.0.0.1:27017/jetvoyager) 
# or your MongoDB Atlas connection string (e.g. mongodb+srv://username:password@cluster.mongodb.net/dbname)
MONGO_URI=mongodb://127.0.0.1:27017/jetvoyager

# JSON Web Token Secret
# Replace with a long, strong random secret key in production
JWT_SECRET=your_jwt_secret_key_here
